# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
.vs/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Only ignore Binaries and Intermediate in Plugins (not the whole Plugins folder)
Plugins/*/Binaries/
Plugins/*/Intermediate/

# Ignore VisualStudioTools plugin
Plugins/VisualStudioTools/

# OS
.DS_Store
Thumbs.db

# Ignore compiled files
*.exe
*.dll
*.lib
*.app
*.log